{% extends 'index.html' %}
{% block intro %}
<div class="intro">
    <h1>CoffeeMan</h1>
    
    <p>Coffee is one of the world’s most famous refreshments. In some cases, it is the most generally burned-through fluid on the planet besides the water. The types of coffee are Arabica, Robusta, Excelsa, and Liberica.

      Coffee is in excess of a refreshment, nonetheless. It is a memory, an expectation, a long period of reassuring snapshots of unobtrusive joy woven into our lives.
      
      Coffee’s prosperity as a refreshment without a doubt is owing both to the caffeine it harbours and to its tangible delight. Coffee sweethearts come to relate the empowering lift of the caffeine with the wealth and fragrance of the refreshment that conveys it.</p>
  </div>
  {% endblock intro %}